.style-categories {
    padding: var(--sp-16) 0;
}

.style-container {
    background-color: var(--surface-categories);
    border-radius: var(--radius-lg);
    padding: 70px 64px;
}


.categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.style-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 289px;
    background-color: #ffffff;
}

.style-card.card-small {
    grid-column: span 1;
}

.style-card.card-large {
    grid-column: span 2;
}

.style-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.style-card:hover img {
    transform: scale(1.05);
}

.style-title {
    position: absolute;
    top: 25px;
    left: 36px;
    font-size: 2rem;
    font-weight: 800;
    color: #000000;
    z-index: 1;
}

@media (max-width: 1024px) {

    .categories-grid {
        grid-template-columns: 1fr;
    }

    .style-card.card-small,
    .style-card.card-large {
        grid-column: span 1;
    }
}

@media (max-width: 768px) {
    .style-container {
        padding: 40px 24px;
    }

    .style-title {
        font-size: 1.5rem;
        top: 15px;
        left: 20px;
    }
}